 @charset "UTF-8";

 *{
    font-family: Arial, Helvetica, sans-serif;

 }
 body {
    background-image: linear-gradient(to right, #FFCB9A, #D8B08C);
 }
 main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(92, 59, 59, 0.618);
    width: 600px;
    padding: 10px;
    margin: auto;
 }
 h1 {
    color: #e77f0f;
    text-align: center;
    text-shadow: 1px 1px 2px #ab5f0e;
 }
 h2 {
    color: #2560ae
 }
 p{
    text-align: justify
 }